<!--The content below is only a placeholder and can be replaced.-->
<div [class]="theme" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <mat-card>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
  </mat-card>
  <br>
  <mat-card>
    <mat-select placeholder="Theme"
                [(ngModel)]="theme"
                (change)="onThemeChange()">
      <mat-option value="pt-theme">Primary</mat-option>
      <mat-option value="pt-alt-theme">Alternate</mat-option>
    </mat-select>
  </mat-card>
</div>

